SoapRiaService/WPSoapRiaService/Service References/EmployeesService/EmployeeDomainService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeDomainService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_EmployeeDomainServiceSoap_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NtlmAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:37390/Services/SoapRiaService-EmployeeDomainService.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:37390/Services/SoapRiaService-EmployeeDomainService.svc?xsd=xsd3" namespace="DomainServices" />
      <xsd:import schemaLocation="http://localhost:37390/Services/SoapRiaService-EmployeeDomainService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:37390/Services/SoapRiaService-EmployeeDomainService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/SoapRiaService.Models" />
      <xsd:import schemaLocation="http://localhost:37390/Services/SoapRiaService-EmployeeDomainService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EmployeeDomainServiceSoap_GetEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployees" />
  </wsdl:message>
  <wsdl:message name="EmployeeDomainServiceSoap_GetEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="EmployeeDomainServiceSoap_GetEmployees_DomainServiceFault_FaultMessage">
    <wsdl:part xmlns:q1="DomainServices" name="detail" element="q1:DomainServiceFault" />
  </wsdl:message>
  <wsdl:message name="EmployeeDomainServiceSoap_InsertEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertEmployee" />
  </wsdl:message>
  <wsdl:message name="EmployeeDomainServiceSoap_InsertEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="EmployeeDomainServiceSoap_InsertEmployee_DomainServiceFault_FaultMessage">
    <wsdl:part xmlns:q2="DomainServices" name="detail" element="q2:DomainServiceFault" />
  </wsdl:message>
  <wsdl:message name="EmployeeDomainServiceSoap_UpdateEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployee" />
  </wsdl:message>
  <wsdl:message name="EmployeeDomainServiceSoap_UpdateEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="EmployeeDomainServiceSoap_UpdateEmployee_DomainServiceFault_FaultMessage">
    <wsdl:part xmlns:q3="DomainServices" name="detail" element="q3:DomainServiceFault" />
  </wsdl:message>
  <wsdl:message name="EmployeeDomainServiceSoap_DeleteEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployee" />
  </wsdl:message>
  <wsdl:message name="EmployeeDomainServiceSoap_DeleteEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="EmployeeDomainServiceSoap_DeleteEmployee_DomainServiceFault_FaultMessage">
    <wsdl:part xmlns:q4="DomainServices" name="detail" element="q4:DomainServiceFault" />
  </wsdl:message>
  <wsdl:portType name="EmployeeDomainServiceSoap">
    <wsdl:operation name="GetEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/EmployeeDomainServiceSoap/GetEmployees" message="tns:EmployeeDomainServiceSoap_GetEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/EmployeeDomainServiceSoap/GetEmployeesResponse" message="tns:EmployeeDomainServiceSoap_GetEmployees_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/EmployeeDomainServiceSoap/GetEmployeesDomainServiceFault" name="DomainServiceFault" message="tns:EmployeeDomainServiceSoap_GetEmployees_DomainServiceFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/EmployeeDomainServiceSoap/InsertEmployee" message="tns:EmployeeDomainServiceSoap_InsertEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/EmployeeDomainServiceSoap/InsertEmployeeResponse" message="tns:EmployeeDomainServiceSoap_InsertEmployee_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/EmployeeDomainServiceSoap/InsertEmployeeDomainServiceFault" name="DomainServiceFault" message="tns:EmployeeDomainServiceSoap_InsertEmployee_DomainServiceFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/EmployeeDomainServiceSoap/UpdateEmployee" message="tns:EmployeeDomainServiceSoap_UpdateEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/EmployeeDomainServiceSoap/UpdateEmployeeResponse" message="tns:EmployeeDomainServiceSoap_UpdateEmployee_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/EmployeeDomainServiceSoap/UpdateEmployeeDomainServiceFault" name="DomainServiceFault" message="tns:EmployeeDomainServiceSoap_UpdateEmployee_DomainServiceFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/EmployeeDomainServiceSoap/DeleteEmployee" message="tns:EmployeeDomainServiceSoap_DeleteEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/EmployeeDomainServiceSoap/DeleteEmployeeResponse" message="tns:EmployeeDomainServiceSoap_DeleteEmployee_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/EmployeeDomainServiceSoap/DeleteEmployeeDomainServiceFault" name="DomainServiceFault" message="tns:EmployeeDomainServiceSoap_DeleteEmployee_DomainServiceFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_EmployeeDomainServiceSoap" type="tns:EmployeeDomainServiceSoap">
    <wsp:PolicyReference URI="#BasicHttpBinding_EmployeeDomainServiceSoap_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployees">
      <soap:operation soapAction="http://tempuri.org/EmployeeDomainServiceSoap/GetEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DomainServiceFault">
        <soap:fault use="literal" name="DomainServiceFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsertEmployee">
      <soap:operation soapAction="http://tempuri.org/EmployeeDomainServiceSoap/InsertEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DomainServiceFault">
        <soap:fault use="literal" name="DomainServiceFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <soap:operation soapAction="http://tempuri.org/EmployeeDomainServiceSoap/UpdateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DomainServiceFault">
        <soap:fault use="literal" name="DomainServiceFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <soap:operation soapAction="http://tempuri.org/EmployeeDomainServiceSoap/DeleteEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DomainServiceFault">
        <soap:fault use="literal" name="DomainServiceFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeDomainService">
    <wsdl:port name="BasicHttpBinding_EmployeeDomainServiceSoap" binding="tns:BasicHttpBinding_EmployeeDomainServiceSoap">
      <soap:address location="http://localhost:37390/Services/SoapRiaService-EmployeeDomainService.svc/Soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>